@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --font: 'Rubik', sans-serif;
    --blue: hsl(246, 80%, 60%);
    --lightred: hsl(15, 100%, 70%);
    --softblue: hsl(195, 74%, 62%);
    --red: hsl(348, 100%, 68%);
    --limegreen: hsl(145, 58%, 55%);
    --violet: hsl(264, 64%, 52%);
    --softorange: hsl(43, 84%, 65%);
    --verydarkblue: hsl(226, 43%, 10%);
    --darkblue: hsl(235, 46%, 20%);
    --desaturatedblue: hsl(235, 45%, 61%);
    --paleblue: hsl(236, 100%, 87%);
    --white: hsl(0, 100%, 100%);
}

body {
    font-family: var(--font);
    background-color: var(--verydarkblue);
    /*height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;*/
    main {
        .content {
            #leftarea {
                .tabtitle {
                    background-color: var(--darkblue);
                    border-radius: 15px;
                    .person {
                        background-color: var(--blue);
                        border-radius: 15px;
                        padding: 40px 30px 70px 30px;
                        .image {
                            margin-bottom: 40px;
                            img {
                                width: 70px;
                                height: 70px;
                                border: solid 2px var(--white);
                                border-radius: 50%;
                            }
                        }
                        .report {
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            span {
                                &:first-child {
                                    font-size: 15px;
                                    font-weight: 500;
                                    color: var(--desaturatedblue);
                                }
                                &:last-child {
                                    font-size: 45px;
                                    font-weight: 100;
                                    letter-spacing: 1px;
                                    color: var(--white);
                                    line-height: normal;
                                }
                            }
                        }
                    }
                    .tabs {
                        border-radius: 15px;
                        padding: 20px 30px;
                        .nav {
                            .nav-link {
                                font-size: 18px;
                                text-align: left;
                                color: var(--desaturatedblue);
                                padding-left: 0;
                                &.active {
                                    background-color: transparent;
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
            #rightarea {
                .tab-content {
                    .tabs {
                        margin-bottom: 30px;
                        .t-child {
                            .tab-c {
                                border-radius: 15px 15px 18px 18px;
                                .content {
                                    /*margin-top: 50px;
                                    background-color: var(--darkblue);
                                    padding: 30px;*/
                                    padding-top: 50px;
                                    border-radius: 15px;
                                    div {
                                        &:first-child {
                                            border-radius: 15px 15px 0px 0px;
                                        }
                                        &:last-child {
                                            border-radius: 0px 0px 15px 15px;
                                        }
                                    }
                                    .title {
                                        color: var(--white);
                                        font-size: 18px;
                                        font-weight: 500;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        background-color: var(--darkblue);
                                        padding: 30px 30px 0px 30px;
                                        &::after {
                                            content: url(/assets/img/icon-ellipsis.svg);
                                        }
                                    }
                                    .hrs {
                                        font-size: 55px;
                                        font-weight: 300;
                                        color: var(--white);
                                        background-color: var(--darkblue);
                                        padding: 0px 30px;
                                    }
                                    .lwk {
                                        font-size: 16px;
                                        color: var(--desaturatedblue);
                                        background-color: var(--darkblue);
                                        padding: 0px 30px 30px 30px;
                                    }
                                }
                            }
                            .work {
                                background-image: url(/assets/img/icon-work.svg);
                                background-repeat: no-repeat;
                                background-position: top -5% right 6%;
                                background-color: var(--lightred);
                            }
                            .play {
                                background-image: url(/assets/img/icon-play.svg);
                                background-repeat: no-repeat;
                                background-position: top -5% right 6%;
                                background-color: var(--softblue);
                            }
                            .study {
                                background-image: url(/assets/img/icon-study.svg);
                                background-repeat: no-repeat;
                                background-position: top -5% right 6%;
                                background-color: var(--red);
                            }
                            .exercise {
                                background-image: url(/assets/img/icon-exercise.svg);
                                background-repeat: no-repeat;
                                background-position: top -5% right 6%;
                                background-color: var(--limegreen);
                            }
                            .social {
                                background-image: url(/assets/img/icon-social.svg);
                                background-repeat: no-repeat;
                                background-position: top -5% right 6%;
                                background-color: var(--violet);
                            }
                            .selfcare {
                                background-image: url(/assets/img/icon-self-care.svg);
                                background-repeat: no-repeat;
                                background-position: top -5% right 6%;
                                background-color: var(--softorange);
                            }
                        }
                    }

                }
            }
        }
    }
}