@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
:root {
  --font: "Rubik", sans-serif;
  --blue: hsl(246, 80%, 60%);
  --lightred: hsl(15, 100%, 70%);
  --softblue: hsl(195, 74%, 62%);
  --red: hsl(348, 100%, 68%);
  --limegreen: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --softorange: hsl(43, 84%, 65%);
  --verydarkblue: hsl(226, 43%, 10%);
  --darkblue: hsl(235, 46%, 20%);
  --desaturatedblue: hsl(235, 45%, 61%);
  --paleblue: hsl(236, 100%, 87%);
  --white: hsl(0, 100%, 100%);
}

body {
  font-family: var(--font);
  background-color: var(--verydarkblue);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .content #leftarea {
  background-color: var(--darkblue);
  border-radius: 15px;
}
body main .content #leftarea .person {
  background-color: var(--blue);
  border-radius: 15px;
  padding: 40px 30px 65px 30px;
}
body main .content #leftarea .person .image {
  margin-bottom: 30px;
}
body main .content #leftarea .person .image img {
  width: 70px;
  height: 70px;
  border: solid 2px var(--white);
  border-radius: 50%;
}
body main .content #leftarea .person .report {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
body main .content #leftarea .person .report span:first-child {
  font-size: 15px;
  font-weight: 500;
  color: var(--desaturatedblue);
}
body main .content #leftarea .person .report span:last-child {
  font-size: 32px;
  font-weight: 100;
  letter-spacing: 1px;
  color: var(--white);
  line-height: normal;
}
body main .content #leftarea .tabs {
  border-radius: 15px;
  padding: 20px 30px;
}
body main .content #leftarea .tabs .nav .nav-link {
  font-size: 18px;
  text-align: left;
  color: var(--desaturatedblue);
  padding-left: 0;
}
body main .content #leftarea .tabs .nav .nav-link.active {
  background-color: transparent;
  color: var(--white);
}
body main .content #rightarea .tab-content .tabs .tab-c {
  border-radius: 15px 15px 18px 18px;
}
body main .content #rightarea .tab-content .tabs .tab-c .content {
  margin-top: 50px;
  background-color: var(--darkblue);
  border-radius: 15px;
}
body main .content #rightarea .tab-content .tabs .tab-c .content div:first-child {
  border-radius: 15px 15px 0px 0px;
}
body main .content #rightarea .tab-content .tabs .tab-c .content div:last-child {
  border-radius: 0px 0px 15px 15px;
}
body main .content #rightarea .tab-content .tabs .work {
  background-image: url(/assets/img/icon-work.svg);
  background-repeat: no-repeat;
  background-position: top -5% right 6%;
  background-color: var(--lightred);
}
body main .content #rightarea .tab-content .tabs .play {
  background-image: url(/assets/img/icon-play.svg);
  background-repeat: no-repeat;
  background-position: top -5% right 6%;
  background-color: var(--softblue);
}
body main .content #rightarea .tab-content .tabs .study {
  background-image: url(/assets/img/icon-study.svg);
  background-repeat: no-repeat;
  background-position: top -5% right 6%;
  background-color: var(--red);
}
body main .content #rightarea .tab-content .tabs .exercise {
  background-image: url(/assets/img/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: top -5% right 6%;
  background-color: var(--limegreen);
}
body main .content #rightarea .tab-content .tabs .social {
  background-image: url(/assets/img/icon-social.svg);
  background-repeat: no-repeat;
  background-position: top -5% right 6%;
  background-color: var(--violet);
}
body main .content #rightarea .tab-content .tabs .selfcare {
  background-image: url(/assets/img/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: top -5% right 6%;
  background-color: var(--softorange);
}/*# sourceMappingURL=style.css.map */